<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>
<style>
    table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #ddd; /* Border line between rows */
        }

        th {
            background-color: #f2f2f2; /* Header background color */
        }
        tr:hover {
            background-color: #f5f5f5; /* Hover background color */
        }
</style>
<body>
<div>
    <form th:action="@{/}" >
        <button type="submit">Back</button>
    </form>
</div>
<h2>Files</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>File Type</th>
        <th>File Size</th>
        <th>Upload Date</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of files and display information for each file -->
    <tr th:each="file : ${files}">
        <td><a th:href="@{'/openFile/' + ${file.id}}" target="_blank">
                <span th:text="${file.fileName}"></span>
            </a>
        </td>
        <td th:text="${file.fileType}"></td>
        <td th:text="${file.size}"></td>
        <td th:text="${#dates.format(file.uploadDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td>
            <form method="GET" th:action="@{/downloadFile}">
                <input name="fileId" th:value="${file.id}" type="hidden">
                <input type="submit" value="download">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
