<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
</head>
<body>
<h2>File Upload Form</h2>

<!-- Display error message if any -->
<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<!-- File Upload Form -->
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <!-- File input field -->
    <input type="file" name="file" />

    <!-- Submit button -->
    <button type="submit">Upload File</button>
</form>

<br><br/>

<h2>Folder Upload Form</h2>

<form th:action="@{/uploadFolder}" method="post" enctype="multipart/form-data">
    <!-- Folder input field -->
    <input type="file" name="files" multiple webkitdirectory />

    <!-- Submit button -->
    <button type="submit">Upload Folder</button>
</form>

<!-- Display list of files and folders -->
<h3>Files and Folders:</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Upload Date</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of files and display information for each file -->
    <tr th:each="file : ${files}">
        <td th:text="${file.folder != null ? file.folder.folderName : file.fileName}"></td>
        <td th:text="${file.fileType}"></td>
        <td th:text="${file.size}"></td>
        <td th:text="${#dates.format(file.uploadDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
